/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img {
  background-image: url(./images/drawers.jpg);
  height: 280px;
  background-size: cover;
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}

.card {
  background: #fff;
  width: 700px;
  height: 280px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header > h1 {
  position: relative;
  left: 330px;
  top: -250px;
  font-size: 18px;
  max-width: 300px;
  color: hsl(217, 19%, 35%);
}

.header > p {
  position: relative;
  left: 330px;
  top: -230px;
  max-width: 350px;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  line-height: 20px;
}

.profile {
  display: flex;
  position: relative;
  top: -200px;
  left: 330px;
}
.profile > img {
  width: 50px;
  border-radius: 50px;
}

.profile > h5 {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 15px;
  color: hsl(217, 19%, 35%);
}

.profile > h5 > span {
  margin-top: 5px;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

.share > #share-icon {
  position: relative;
  top: -245px;
  left: 630px;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50px;
  padding: 10px;
  color: hsl(217, 19%, 35%);
  font-size: 15px;
  transition: all 0.2s linear;
}

#share-icon:hover {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.share-card {
  display: flex;
  background-color: hsl(217, 19%, 35%);
  width: 210px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  top: -350px;
  left: 542px;
}

.share-card:after {
  content: "";
  position: absolute;
  left: 95px;
  top: 48px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%);
  clear: both;
}

.share-card > h4 {
  color: hsl(212, 23%, 69%);
  letter-spacing: 3px;
  margin-right: 10px;
  font-size: 12px;
}

.share-card > i {
  margin-left: 12px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.share-card > i:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

@media only screen and (max-width: 750px) {
  body {
    overflow: auto;
  }
  .card {
    height: 600px;
    width: 375px;
  }
  .img {
    width: 375px;
    border-radius: 10px 10px 0px 0px;
  }

  .header > h1 {
    left: 40px;
    max-width: 290px;
    top: 40px;
  }

  .header > p {
    left: 40px;
    top: 50px;
    max-width: 250px;
  }

  .profile {
    left: 40px;
    top: 90px;
  }
  .share > #share-icon {
    left: 310px;
    top: 50px;
    z-index: 1;
  }

  .share-card {
    left: 0px;
    width: 375px;
    height: 80px;
    top: -8px;
    border-radius: 0 0 10px 10px;
  }

  .share-card > h4 {
    font-size: 14px;
    position: relative;
    left: -58px;
  }

  .share-card > i {
    font-size: 24px;
    left: -30px;
    position: relative;
    margin-left: 15px;
  }
  .share-card:after {
    content: "";
    border: 0;
  }
}
